@model Nviss.Models.MailTracker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MailTracker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRecieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRecieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documents.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextActionBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextActionBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEntered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinutedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinutedTo)
        </dd>
    </dl>
</div>
<div>
   @*  <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> *@ |
    <a asp-action="Index">Back to List</a>
</div>
